@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-primary-dark: #21222D;
  --bg-secondary-dark: #2C2C37;
  --btn-color: #645FC7;
  --bg-primary-light: #ffffff;
  --bg-secondary-light: #ffffff;
}


.bg-primary-dark {
  background-color: var(--bg-primary-dark);
}

.bg-secondary-dark {
  background-color: var(--bg-secondary-dark);
}

.bg-primary-light {
  background-color: var(--bg-primary-light);
}

.bg-secondary-light {
  background-color: var(--bg-secondary-light);
}

.bg-button {
  background-color: var(--btn-color);
  color: white;
}

.bg-button:hover {
  color: var(--btn-color);
  background: white;
}

.chosen-board {
  background-color: var(--btn-color);
  color: white;
}

.input-border{
  border: rgb(156 163 175) 1px solid;
  background: var(--bg-secondary);
}

.create-board{
  color: #4640c2;
}

.kanban-template{
  display: grid;
  grid-template-areas: 
  "aside cDiv cDiv cDiv cDiv cDiv"
  "aside main main main main main"
  "aside main main main main main"
  ;
}

.aside-content{
  grid-area: aside;
  transition: transform 0.25s;
}

.transform-aside{
  transform: translateX(-20rem);
}

.main-content{
  grid-area: main;
  transition: width 0.25s;
}

.cDiv{
  grid-area: cDiv;
  transition: width 0.25s;
}

.transform-contents{
  transform: translateX(-19rem);
}
.transform-contents-2{
  transform: translateX(19rem);
}

.transition-contents{
  transition: transform 0.25s;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  cursor: pointer;
  display: block;
}

.dropdown-content span:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


input[type=checkbox]:checked {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  content: url("https://api.iconify.design/akar-icons:check.svg?color=white");
  text-align: center;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
