@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-primary-dark: #21222D;
  --bg-secondary-dark: #2C2C37;
  --btn-color: #645FC7;
  --bg-primary-light: #e2dfdf;
  --bg-secondary-light: #f0ebeb;
}


.bg-primary-dark {
  background-color: var(--bg-primary-dark);
}

.bg-secondary-dark {
  background-color: var(--bg-secondary-dark);
}

.bg-primary-light {
  background-color: var(--bg-primary-light);
}

.bg-secondary-light {
  background-color: var(--bg-secondary-light);
}

.bg-button {
  background-color: var(--btn-color);
  color: white;
}

.bg-button:hover {
  color: var(--btn-color);
  background: white;
}

.chosen-board {
  background-color: var(--btn-color);
  color: white;
}

.input-border{
  border: rgb(156 163 175) 1px solid;
  background: var(--bg-secondary);
}

.create-board{
  color: #4640c2;
}

.kanban-template{
  display: grid;
  grid-template-areas: 
  "aside cDiv cDiv cDiv cDiv cDiv"
  "aside main main main main main"
  "aside main main main main main"
  ;
}

.aside-content{
  grid-area: aside;
  transition: transform 0.25s;
}

.transform-aside{
  transform: translateX(-20rem);
}

.main-content{
  grid-area: main;
  transition: width 0.25s;
}

.cDiv{
  grid-area: cDiv;
  transition: width 0.25s;
}

input[type=checkbox]:checked {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  content: url("https://api.iconify.design/akar-icons:check.svg?color=white");
  text-align: center;
}


/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;  
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-secondary-light);
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-secondary-dark); 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-primary-dark); 
}
 
/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: var(--bg-primary-dark); 
}

/* Corner */
::-webkit-scrollbar-corner {
  background: transparent; 
}